body {
    margin: 0;
    padding: 0;
    
    display: grid;
    justify-items: center;
    background-color: black;
    color: whitesmoke;
}

header {
    margin: 20px 0 20px 0;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    width: 700px;
    height: 400px;
}

.current-conditions-container {
    border: 1px solid blue;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gif-container {
    border: 1px solid red;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.forecast-container {
    border: 1px solid green;

    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}