body {
    margin: 0;
    padding: 0;
    
    display: grid;
    justify-items: center;
    background-color: #121212;
    color: whitesmoke;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 20px 0 20px 0;
}

.hidden,
.current-conditions-container,
.gif-container,
.forecast-container {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.content-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 320px min-content;

    width: 800px;
    height: 450px;
}

.search-container {
    width: 400px;
}

form {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    grid-template-columns: 1fr 100px;
}

#location {
    padding: 4px;
    border-radius: 8px;
}

#submit-button {
    background-color: #f8f8f8;
    border-radius: 8px;
}

#submit-button:hover {
    cursor: pointer;
}

.current-conditions-container {
    padding: 20px;
    line-height: 1.5em;
    font-size: 14px;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: grid;
}

.resolved-location-container {
    font-size: 24px;
}

.gif-container {

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-container {
    padding: 10px;
    font-size: 14px;

    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.current-conditions-header {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.current-conditions-header .icon-container {
    justify-self: end;
}

.description-container {
    grid-column: 1 / 3;
    opacity: 0.8;
}

.current-conditions-data {
    border: 0;
    padding: 0 20px 0 20px;
    width: 100%;
    margin-top: 10px;
}

.data-value {
    text-align: right;
}

.day-card {
    display: grid;
    gap: 4px;
    justify-items: center;
    align-items: center;
    grid-auto-rows: min-content;
}